*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #7d7f82;
  font-family: sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.navbar img{
  width: 90px;
  border-radius: 10px;
} 
.navbar ul{
  display: flex;
  list-style: none;
}

.navbar ul li{
  margin-right: 20px;
}

.navbar ul li a{
  color: #fff;  
  text-decoration: none;
}

.navbar ul li a:hover{
  text-decoration: underline;
  color: aqua;
}

.header{
  color: #fff;
  padding: 20px;
  text-align: center;  
}

.header h1{
  margin-top: 10px;
  margin-bottom: 10px;
}

.header p{
  margin-bottom: 10px;
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.list-produk{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 200px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.list-produk:hover{
  transform: scale(1.05);
}

.list-produk img{
  width: 200px;
  border-radius: 10px;
}

.list-produk h4{
  margin-top: 10px;
}

.list-produk h5{
  margin-top: 10px;
}

.list-produk button{
  margin-top: 10px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

footer{
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}


